<footer>
    <div class="container-footer">
        <p> María de los Ángeles Rodríguez Felipe | ULPGC</p>
        <h4>Fuente de los datos</h4>
        <p><a href="https://data.cityofnewyork.us/Transportation/Real-Time-Traffic-Speed-Data/qkm5-nuaq">Tráfico: NYC OpenData</a></p>
        <p><a href="https://docs.airnowapi.org/">Calidad del aire: AirNow</a></p>
        <p><a href="https://www.visualcrossing.com/">Clima: VisualCrossing</a></p>
        <a href='https://www.freepik.es/vectores/acuarela'>Fondo: Freepik</a>
    </div>
    

</footer>